@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is a 5-star university creating
            students who can enter the work force with the knowledge
            and skills they need
    </div>
    <div class="col-md-4">
        <h2>Manage Everything
        </h2>
        <p>All managerial process can occur by using the offical
            Contoso University management system.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Achieve your Goals</h2>
        <p>Become the manager your students need</p>
    </div>
    <img src="https://www.troy.edu/_assets/sharing/troy-campus.jpg" alt="University Picture" />
</div>